h1 {
    color: #364e96;/*文字色*/
    padding: 0.5em 0;/*上下の余白*/
    border-top: solid 3px #364e96;/*上線*/
    border-bottom: solid 3px #364e96;/*下線*/
}
ul, ol {
    color: #1e366a;
    /*border-top: solid #1e366a 1px;/*上のボーダー*/
    /*border-bottom: solid #1e366a 1px;/*下のボーダー*/
    padding: 0.5em 0 0.5em 1.5em;
}
  
  ul li, ol li {
    line-height: 1.5;
    padding: 0.5em 0;
}
.square_btn{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #00BCD4;
    background: #ECECEC;
    transition: .4s;
}

.square_btn:hover {
    background: #00bcd4;
    color: white;
}
